.left-project {
  justify-content: start;
  margin-left: 58px;
}

.right-project {
  justify-content: end !important;
  flex-direction: row-reverse !important;
  margin-right: 38px;
}

.project-display {
  display: flex;
  gap: 24px;
  flex-direction: row;
  align-items: center;

  .project-image-display {
    display: flex;
    flex-direction: column;

    .project-image {
      border-radius: 50%;

      width: 100%;
      height: auto;
      max-width: 35vw;
      max-height: 35vh;
      aspect-ratio: 1/1;

      cursor: pointer;
    }

    .project-languages-display {
      width: 0px;
      height: 0px;
    }
  }

  .project-info-display {
    display: flex;
    flex-direction: column;
    width: 50%;

    .project-title-display {
      cursor: pointer;
      text-align: center;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      white-space: nowrap;

      .project-title {
        font-size: calc(0.9vw + (2vh * 2));

        font-weight: bolder;

        background-color: var(--primary-color) !important;
        background-image: linear-gradient(
          90deg,
          var(--primary-color),
          var(--text-color)
        ) !important;
        background-size: 140%;

        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;

        vertical-align: middle;
      }

      .window-icon {
        filter: opacity(0.5);
        height: 24px;
      }
    }

    .project-description-display {
      .project-description {
        font-size: calc(0.01vw + (0.93vh * 2));
      }
    }
  }
}

.mobile {
  .project-display {
    flex-direction: column !important;

    .project-info-display {
      width: 90%;

      .project-title-display {
        .project-title {
          font-size: 24pt;
        }
      }

      .project-description-display {
        .project-description {
          font-size: 16pt;
        }
      }
    }
  }

  .left-project {
    justify-content: center !important;
    text-align: center !important;
    margin-left: 0;
  }

  .right-project {
    justify-content: center !important;
    flex-direction: column !important;
    text-align: center !important;
    margin-right: 0;
  }
}
