.language-button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  // padding-left: 10%;
  // padding-right: 10%;

  .language-button {
    width: 20%;
    height: 5vh;
    border-radius: 50px;
    border: 4px solid var(--primary-color);

    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(
      var(--primary-color),
      var(--primary-color)
    );

    color: var(--text-color) !important;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    cursor: pointer;
    transition: background-position 0.5s, color 0.5s;

    .text {
      font-size: calc(1vw + (0.7vh * 2));
      font-weight: bolder;
      z-index: 2;
    }
  }

  .lang-left-active {
    background-size: 50% 100%;
    background-position: 0% 100%;
  }

  .lang-right-active {
    background-size: 50% 100%;
  }
}

.mobile {
  .language-button-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 12px;

    .language-button {
      width: 50%;
      height: 6vh;
    }

    .text {
      font-size: calc(1vw + (1vh * 2));
    }
  }
}
