.toggle-button {
    width: 20%;
    height: 5vh;
    // overflow: hidden;
    border-radius: 50px;
    border: 4px solid var(--primary-color);

    background-size: 100% 0%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(var(--primary-color), var(--primary-color));

    color: var(--text-color) !important;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: background-size .5s, color .5s;

    .text {
        font-size: calc(1vw + (0.7vh * 2));
        font-weight: bolder;
        z-index: 2;
    }
}

.toggle-button-inactive {
    background-size: 100% 0% !important;
}

.toggle-button-active {
    background-size: 100% 100% !important;
}