.contact-display-container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .image-container {
    border-radius: 50%;
    background-color: var(--secondary-color) !important;
    aspect-ratio: 1/1;
    box-shadow: 5px 5px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;

    .picture {
      height: auto;
      max-width: 27vw;
      max-height: 27vh;
    }

    .clickable {
      cursor: pointer;
    }
  }

  .text {
    text-align: center;
    font-size: var(--big-text-size);

    color: var(--text-color);
  }
}

.mobile {
    .contact-display-container {
        flex: 1;
    }
}
